
<!--みた-->
<% if Mitalist.find_by(anime_id: post.id, user_id: current_user.id, state: 1) %>

<div class="rank-open-select-btn-area" id='select-btn-area-<%= post.id %>'>
<div class="rank-open-select-btn"><i class="fas fa-heart"></i> 見た</div>
<div class="rank-open-select-menu" id='select-btn-menu-<%= post.id %>'>
	<div class="rank-open-select-menu-in">
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="0">外す</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="2">見てる</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="3">見たい</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="4">一時中断</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="5">視聴中止</option>
	</div>
</div>
</div>

<script type="text/javascript">
	$(function(){
		$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').on('click',function(){
			if($('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').css("display")=="none"){
		$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideDown("fast");
		}else{
		$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
		}
		});
		//ホバー解除でアップ
		$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').hover(function () {
		 },
			function () {
				$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
	});

//送信処理
$('.rank-open-select-menu-one' + '#select-val-<%= post.id %>').on('click',function(){

	 var state_id = $(this).val();

	 $.ajax({
			 type:'POST',
			 url:'/state/active/<%= post.id %>/create/'+state_id
	 });
});


});
</script>


<!--みてる-->
<% elsif Mitalist.find_by(anime_id: post.id, user_id: current_user.id, state: 2) %>


	<div class="rank-open-select-btn-area" id='select-btn-area-<%= post.id %>'>
	<div class="rank-open-select-btn"><i class="fas fa-heart"></i> 見てる</div>
	<div class="rank-open-select-menu" id='select-btn-menu-<%= post.id %>'>
		<div class="rank-open-select-menu-in">
		<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="0">外す</option>
		<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="1">見た</option>
		<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="3">見たい</option>
		<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="4">一時中断</option>
		<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="5">視聴中止</option>
		</div>
	</div>
	</div>

	<script type="text/javascript">
		$(function(){
			$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').on('click',function(){
				if($('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').css("display")=="none"){
			$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideDown("fast");
			}else{
			$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
			}
			});
			//ホバー解除でアップ
			$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').hover(function () {
			 },
				function () {
					$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
		});

	//送信処理
	$('.rank-open-select-menu-one' + '#select-val-<%= post.id %>').on('click',function(){

		 var state_id = $(this).val();

		 $.ajax({
				 type:'POST',
				 url:'/state/active/<%= post.id %>/create/'+state_id
		 });
	});


	});
	</script>


<!--みたい-->
<% elsif Mitalist.find_by(anime_id: post.id, user_id: current_user.id, state: 3) %>


<div class="rank-open-select-btn-area" id='select-btn-area-<%= post.id %>'>
<div class="rank-open-select-btn"><i class="fas fa-heart"></i> 見たい</div>
<div class="rank-open-select-menu" id='select-btn-menu-<%= post.id %>'>
	<div class="rank-open-select-menu-in">
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="0">外す</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="1">見た</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="2">見てる</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="4">一時中断</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="5">視聴中止</option>
	</div>
</div>
</div>

<script type="text/javascript">
	$(function(){
		$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').on('click',function(){
			if($('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').css("display")=="none"){
		$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideDown("fast");
		}else{
		$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
		}
		});
		//ホバー解除でアップ
		$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').hover(function () {
		 },
			function () {
				$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
	});

//送信処理
$('.rank-open-select-menu-one' + '#select-val-<%= post.id %>').on('click',function(){

	 var state_id = $(this).val();

	 $.ajax({
			 type:'POST',
			 url:'/state/active/<%= post.id %>/create/'+state_id
	 });
});


});
</script>



<!--一時中断-->
<% elsif Mitalist.find_by(anime_id: post.id, user_id: current_user.id, state: 4) %>


<div class="rank-open-select-btn-area" id='select-btn-area-<%= post.id %>'>
<div class="rank-open-select-btn"><i class="fas fa-heart"></i> 一時中断</div>
<div class="rank-open-select-menu" id='select-btn-menu-<%= post.id %>'>
	<div class="rank-open-select-menu-in">
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="0">外す</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="1">見た</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="2">見てる</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="3">見たい</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="5">視聴中止</option>
	</div>
</div>
</div>

<script type="text/javascript">
	$(function(){
		$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').on('click',function(){
			if($('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').css("display")=="none"){
		$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideDown("fast");
		}else{
		$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
		}
		});
		//ホバー解除でアップ
		$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').hover(function () {
		 },
			function () {
				$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
	});

//送信処理
$('.rank-open-select-menu-one' + '#select-val-<%= post.id %>').on('click',function(){

	 var state_id = $(this).val();

	 $.ajax({
			 type:'POST',
			 url:'/state/active/<%= post.id %>/create/'+state_id
	 });
});


});
</script>


<!--視聴中止-->
<% elsif Mitalist.find_by(anime_id: post.id, user_id: current_user.id, state: 5) %>


<div class="rank-open-select-btn-area" id='select-btn-area-<%= post.id %>'>
<div class="rank-open-select-btn"><i class="fas fa-heart"></i> 視聴中止</div>
<div class="rank-open-select-menu" id='select-btn-menu-<%= post.id %>'>
	<div class="rank-open-select-menu-in">
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="0">外す</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="1">見た</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="2">見てる</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="3">見たい</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="4">一時中断</option>
	</div>
</div>
</div>

<script type="text/javascript">
	$(function(){
		$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').on('click',function(){
			if($('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').css("display")=="none"){
		$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideDown("fast");
		}else{
		$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
		}
		});
		//ホバー解除でアップ
		$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').hover(function () {
		 },
			function () {
				$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
	});

//送信処理
$('.rank-open-select-menu-one' + '#select-val-<%= post.id %>').on('click',function(){

	 var state_id = $(this).val();

	 $.ajax({
			 type:'POST',
			 url:'/state/active/<%= post.id %>/create/'+state_id
	 });
});


});
</script>


<!--なにもないとき-->
<% else %>

<div class="rank-open-select-btn-area" id='select-btn-area-<%= post.id %>'>
<div class="rank-open-select-btn-no-select"><i class="fas fa-heart"></i> マイリストする</div>
<div class="rank-open-select-menu" id='select-btn-menu-<%= post.id %>'>
	<div class="rank-open-select-menu-in">
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="1">見た</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="2">見てる</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="3">見たい</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="4">一時中断</option>
	<option class="rank-open-select-menu-one" id='select-val-<%= post.id %>' value="5">視聴中止</option>
	</div>
</div>
</div>

<script type="text/javascript">
	$(function(){
		$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').on('click',function(){
			if($('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').css("display")=="none"){
		$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideDown("fast");
		}else{
		$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
		}
		});
		//ホバー解除でアップ
		$('.rank-open-select-btn-area' + '#select-btn-area-<%= post.id %>').hover(function () {
		 },
			function () {
				$('.rank-open-select-menu' + '#select-btn-menu-<%= post.id %>').slideUp("fast");
	});

//送信処理
$('.rank-open-select-menu-one' + '#select-val-<%= post.id %>').on('click',function(){

	 var state_id = $(this).val();

	 $.ajax({
			 type:'POST',
			 url:'/state/active/<%= post.id %>/create/'+state_id
	 });
});


});
</script>


<% end %>
