
<!--タイトル-->
<% content_for :title do %>
<%= @user.username %>(@<%= @user.userid %>)さんのマイページ - アニスナップ
<% end %>
<!--タイトル終了-->

<div class="top-wrapper">
</div><!--topwrpaeer-->

<div class="wrapper"><!--サイド＆＆全体-->

  <div class="wrapper-new-doc-m2"><!--内容カラム--><!--左-->

<div class="top-wrapper-mylist"><!--topwrapper-->

  <img src="<%= "#{@user.bgimage}" %>" class="user-image-background"><!--背景-->

  <div class="user-image-on-area"><!--画像上エリア全体-->
      <div class="user-main-profile-area"><!--ユーザーメイン情報-->
    <img src="<%= "#{@user.image}" %>" class="user-image-on-icon">
    <% if current_user != nil and current_user.userid == @user.userid %>
    <%= link_to("/setting/profile" , class: "user-profile-btn-area") do %>プロフィール編集<% end %>
    <% else %>
    <div class="user-follow-btn">フォロー(実装予定)</div>
    <% end %>
    </div><!--ユーザーメイン情報終了-->
  </div><!--画像上エリア全体終了-->
  </div><!--topwrapper-->

  <div class="user-main-profile-area-1"><!--メイン1-->
    <div class="user-name-mypage-area"><!--ユーザー名エリア-->
      <div class="user-name-mypage"><%= @user.username %></div>
      <% if @job != nil %>
      <div class="user-job-mypage" <% if @job.job == 'supporter' %>style='background-color:#00C091;'<%end%> ><%= @job.job %></div>
      <% end %>
      <div class="user-id-mypage">@<%= @user.userid %></div>
    </div><!--ユーザー名エリア終了-->

      <div class="user-intro-area"><!--自己紹介-->
      <% if @user.intro != nil %>
      <div class="user-intro"><%= @user.intro %></div>
      <% end %>
      <div class="user-create-date"><i class="fas fa-calendar-alt"></i>  <%= @user.created_at.strftime("%Y年%m月%d日") %>から利用してます</div>
      </div><!--自己紹介-->

  </div><!--メイン1終了-->
  <div class="user-menu-mypage"><!--メニュー全体-->
    <p class="now-currentmypage"><%= link_to("/user/#{@user.userid}") do %><i class="fas fa-home" style="color:#00C091;"></i> ホーム<% end %></p>
    <p><%= link_to("/user/#{@user.userid}/post") do %><i class="fas fa-envelope" style="color:#FB7299;"></i> 投稿<b>（<%= @reviewcount %>）</b><% end %></p>
    <% if current_user != nil && current_user.id == 1 && @user.id == 1 %><p><%= link_to("/mg/anime") do %><i class="fas fa-lock" style="color:#ff7f50;"></i> 管理<% end %></p><% end %>
    <p><%= link_to("/user/#{@user.userid}/mylist/watch") do %>見てる<b>（<%= @watch_now_count %>）</b><% end %></p>
    <p><%= link_to("/user/#{@user.userid}/mylist/wanna_watch") do %>見たい<b>（<%= @will_watch_count %>）</b><% end %></p>
    <% if current_user != nil and current_user.id = 1 %>
    <% end %>
    <span class="user-menu-mypage-bar"></span>
  </div>


  <div class="mypage-left-dogs-m1"><!--コンテンツエリア-->


      <% if current_user != nil and current_user.userid == @user.userid %>
      <div class="user-mypage-midasi-bottom-info"><i class="far fa-question-circle"></i> マイリストに追加したり、感想を書いたりするとここに表示されるよ！</div>
      <% end %>

      <div id="userlog-all"><!--ajax-->
     <%= render partial: 'user/userlog'%>
     </div><!--ajax終了-->
     <div class="more-userlog-area"><!--もっと見るボタン全体-->
     <%= link_to_next_page @userlog, 'もっと見る', id: 'more-userlog', class: 'more-userlog-btn', params: { type: :userlog }, remote: true %>
     </div>

   </div><!--コンテンツエリア終了-->


   </div><!--左-->

<div class="wrapper-new-doc-m3"><!--サイドバーカラム--><!--右-->

  <% if current_user != nil and current_user.userid == @user.userid %>
       <div class="mypage-right-dogs-m2"><!--コンテンツエリア-->
         <h1>お知らせ</h1>
         <div class="mypage-right-dogs-m2-no">まだお知らせはありません</div>
         </div><!--コンテンツエリア終了-->
         <% end %>

         <div class="mypage-right-dogs-m2"><!--コンテンツエリア-->
           <h1>マイリスト</h1>
           <div class="mypage-side-mylist-area"><!--マイリスエリア-->
             <%= link_to("/user/#{@user.userid}/mylist/watch" , class: "mypage-side-mylist-one") do %><i class="fas fa-folder"></i><p>見てる</p><b>（<%= @watch_now_count %>）</b><% end %>
             <%= link_to("/user/#{@user.userid}/mylist/watched" , class: "mypage-side-mylist-one") do %><i class="fas fa-folder"></i><p>見た</p><b>（<%= @watched_count %>）</b><% end %>
             <%= link_to("/user/#{@user.userid}/mylist/wanna_watch" , class: "mypage-side-mylist-one") do %><i class="fas fa-folder"></i><p>見たい</p><b>（<%= @will_watch_count %>）</b><% end %>
             <%= link_to("/user/#{@user.userid}/mylist/watch_hold" , class: "mypage-side-mylist-one") do %><i class="fas fa-folder"></i><p>一時中断</p><b>（<%= @stop_count %>）</b><% end %>
             <%= link_to("/user/#{@user.userid}/mylist/watch_drop" , class: "mypage-side-mylist-one") do %><i class="fas fa-folder"></i><p>視聴中止</p><b>（<%= @drop_count %>）</b><% end %>
             </div><!--マイリスエリア-->
           </div><!--コンテンツエリア終了-->

                <div class="mypage-right-dogs-m2"><!--コンテンツエリア-->
                  <h1>ステータス</h1>
                  <div class="mypage-state-area"><!--すてーたす終了-->
                  <div class="mypage-state">全マイリス数: <%= @all_mylist %></div>
                  <div class="mypage-state">投稿数: <%= @reviewcount %></div>
                  <div class="mypage-state">獲得いいね数: <%= @good_get %></div>
                  <% if  @job != nil %><div class="mypage-state">役職: <%= @job.job %></div><% end %>
                  </div><!--すてーたす終了-->
                  </div><!--コンテンツエリア終了-->

     </div><!--右-->
 </div><!--全体終了------------->
